.span111
{
font-family: "Microsoft YaHei" ! important;
	text-align:left;
	width:5rem;
	font-size:0.5rem;
	color:black;
	line-height:1rem;
}
.styleipt
{
	text-align:center;font-family:Î¢ÈíÑÅºÚ;font-weight:bold;color:#000000;font-size:0.5rem;
	
}